{% extends "base.html" %}

{% block title %}Add Roadmap{% endblock %}
{% block body_class %}roadmap-body{% endblock %}

{% block content %}
  

<!-- PAGETITLE -->
<h2 class="mb-4 text-center"> Add Roadmap for Project: {{ project.project_name }}</h2>

<!-- FORM CONTAINER -->
  <div class="roadmap-form card p-4 shadow mt-3 mx-auto">
    <form method="POST">
      
      <!-- START Date project -->
      <div class="mb-3">
        <label class="form-label fw-bold">Start Date Project</label>
        <input type="date" name="start_roadmap" class="form-control">
      </div>

      <!-- END Date project -->
      <div class="mb-3">
        <label class="form-label fw-bold">End Date Project</label>
        <input type="date" name="end_roadmap" class="form-control">
      </div>

      <!-- Total Time Capacity (in hours) -->
      <div class="mb-3">
        <label class="form-label">Total Time Capacity (in hours)</label>
        <input type="number"
               name="time_capacity"
               class="form-control"
               step="0.01"          
               required>
      </div>

      <!-- BUDGET ALLOCATION -->
      <div class="mb-3">
        <label class="form-label">Budget Allocation</label>
        <input type="number"
               name="budget_allocation"
               class="form-control"
               step="0.01"          
               required>
      </div>

      <!-- SUBMIT BUTTON -->
      <button class="btn btn-base btn-primary-custom w-100">Add Roadmap</button>
      <a href="{{ url_for('main.roadmap_overview', project_id=project.id_project) }}"
        class="btn btn-base btn-secondary-custom w-100 mt-2">
          Cancel
      </a>
    </form>
  </div>
{% endblock %}