{% extends "base.html" %}

{% block title %}Add New Project{% endblock %}
{% block body_class %}projects-body{% endblock %}

{% block content %}
  
  <h2 class="mb-4 text-center">Add New Project</h2>

  <div class="form-card shadow-sm p-4 mx-auto">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ 'danger' if category in ['danger','error'] else category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main.add_project') }}">
      <h5 class="mb-3 fw-semibold">Project Info</h5>

      <div class="mb-3">
        <label class="form-label">Project Name</label>
        <input type="text" name="project_name" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Company</label>
        <input type="text" class="form-control" value="{{ company.company_name }}" readonly>
        <input type="hidden" name="company_id" value="{{ company.id_company }}">
      </div>

      <button type="submit" class="btn btn-base btn-primary-custom w-100 mt-3">Save Project</button>
    </form>
  </div>
{% endblock %}
