{% extends "base.html" %}

{% block title %}Add Roadmap{% endblock %}
{% block body_class %}roadmap-body{% endblock %}

{% block content %}
  

<!-- PAGETITLE -->
<h2 class="mb-4 text-center"> Add Roadmap for Project: {{ project.project_name }}</h2>

<!-- FORM CONTAINER -->
  <div class="roadmap-form card p-4 shadow mt-3 mx-auto">
    <form method="POST">
      
      <!-- START QUARTER -->
      <div class="mb-3">
        <label class="form-label">Start Quarter</label>
        <select name="start_quarter" class="form-select" required>
          <option value="">Select quarter</option>
          <option value="Q1 2025">Q4 2025</option>
          <option value="Q1 2026">Q1 2026</option>
          <option value="Q2 2026">Q2 2026</option>
          <option value="Q3 2026">Q3 2026</option>
          <option value="Q4 2026">Q4 2026</option>
        </select>
      </div>

      <!-- END QUARTER -->
      <div class="mb-3">
        <label class="form-label">End Quarter</label>
        <select name="end_quarter" class="form-select" required>
          <option value="">Select quarter</option>
          <option value="Q1 2025">Q4 2025</option>
          <option value="Q1 2026">Q1 2026</option>
          <option value="Q2 2026">Q2 2026</option>
          <option value="Q3 2026">Q3 2026</option>
          <option value="Q4 2026">Q4 2026</option>
        </select>
      </div>

      <!-- TEAM SIZE -->
      <div class="mb-3">
        <label class="form-label">Team Size</label>
        <input type="number" name="team_size" class="form-control" required>
      </div>

      <!-- SPRINT CAPACITY -->
      <div class="mb-3">
        <label class="form-label">Sprint Capacity</label>
        <input type="number" name="sprint_capacity" class="form-control" required>
      </div>

      <!-- BUDGET ALLOCATION -->
      <div class="mb-3">
        <label class="form-label">Budget Allocation</label>
        <input type="number" name="budget_allocation" class="form-control" required>
      </div>

      <!-- SUBMIT BUTTON -->
      <button class="btn btn-primary">Save Roadmap</button>
      <a href="{{ url_for('main.projects') }}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}