{% extends "base.html" %}

{% block title %}Add Roadmap{% endblock %}
{% block body_class %}roadmap-body{% endblock %}

{% block content %}
  <!-- Right-top button -->
  <div class="top-right">
    <a href="{{ url_for('main.projects') }}" 
      class="btn btn-base btn-nav btn-sm">
      Projects Overview
    </a>
  </div>
  <!-- Logged-in info bottom right -->
  <div class="bottom-info">
    Logged in as: <strong>{{ session['name'] }}</strong> | Role: <strong>{{ session['role'] }}</strong>
  </div>

  <h2>Add Roadmap for Project: {{ project.project_name }}</h2>

  <div class="roadmap-form card p-4 shadow mt-3 mx-auto">
    <form method="POST">
      <!-- start_Quarter -->
      <div class="mb-3">
        <label class="form-label">Start Quarter</label>
        <select name="start_quarter" class="form-select" required>
          <option value="">Select quarter</option>
          <option value="Q1 2025">Q4 2025</option>
          <option value="Q1 2026">Q1 2026</option>
          <option value="Q2 2026">Q2 2026</option>
          <option value="Q3 2026">Q3 2026</option>
          <option value="Q4 2026">Q4 2026</option>
        </select>
      </div>

      <!-- end_Quarter -->
      <div class="mb-3">
        <label class="form-label">End Quarter</label>
        <select name="end_quarter" class="form-select" required>
          <option value="">Select quarter</option>
          <option value="Q1 2025">Q4 2025</option>
          <option value="Q1 2026">Q1 2026</option>
          <option value="Q2 2026">Q2 2026</option>
          <option value="Q3 2026">Q3 2026</option>
          <option value="Q4 2026">Q4 2026</option>
        </select>
      </div>

      <!-- Team Size -->
      <div class="mb-3">
        <label class="form-label">Team Size</label>
        <input type="number" name="team_size" class="form-control" required>
      </div>

      <!-- Sprint Capacity -->
      <div class="mb-3">
        <label class="form-label">Sprint Capacity</label>
        <input type="number" name="sprint_capacity" class="form-control" required>
      </div>

      <!-- Budget -->
      <div class="mb-3">
        <label class="form-label">Budget Allocation</label>
        <input type="number" name="budget_allocation" class="form-control" required>
      </div>

      <button class="btn btn-primary">Save Roadmap</button>
      <a href="{{ url_for('main.projects') }}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}