{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block body_class %}dashboard-body{% endblock %}

{% block content %}
  <div class="dashboard-wrapper">
    <h1>Welcome to your Dashboard</h1>

    <div class="main-buttons">
      <a href="{{ url_for('main.projects') }}" class="btn btn-base btn-primary-custom">Projects Overview</a>
      <a href="{{ url_for('main.add_project') }}" class="btn btn-base btn-primary-custom">Add Project</a>
      <a href="{{ url_for('main.profile') }}" class="btn btn-base btn-primary-custom">Profile</a>
    </div>
  </div>

{% endblock %}