<div class="center-content">
     <h1>Welcome to your Dashboard</h1>

     <div class="main-buttons">
         <a href="#" class="btn btn-primary">View Features</a>
         <a href="{{ url_for('main.add_feature') }}" class="btn btn-primary">Add New Feature</a>
          <a href="#" class="btn btn-primary">View Roadmap</a>
          <a href="{{ url_for('main.profile') }}" class="btn btn-primary">Go to Profile</a>
          <a href="{{ url_for('main.projects') }}" class="btn btn-primary">Go to Projects</a>
     </div>
    </div> 