{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block body_class %}login-body{% endblock %}

{% block content %}

<!--LOGINPAGINA -->
<div class="login-container">

  <h1 class="login-title">Login</h1>

  <!-- Loginformulier dat naar de login-route post -->
  <form method="post" action="{{ url_for('main.login') }}">                   <!-- method="post": gevoelige data veilig verzenden -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">    
    <!-- E-mailadres -->
    <div class="form-group">                                                  <!-- form-group: groepeert label + input en zorgt voor verticale spacing --> 
      <label for="email">E-mail:</label>  
      <input type="email" id="email" name="email" required>
    </div>

    <!-- Wachtwoordveld + oog-icoon om het wachtwoord zichtbaar/onzichtbaar te maken -->
    <div class="form-group">
      <label for="password">Password:</label>

      <div class="input-group">                                              <!-- input-group: combineert inputveld en icoon in één visuele eenheid -->
        <input type="password" id="password" name="password" class="form-control" required>

        <!-- Oog-icoon (javascript) om het wachtwoord zichtbaar/onzichtbaar te maken -->
        <span class="input-group-text">
          <i class="bi bi-eye" id="togglePassword" style="cursor: pointer;"></i>
        </span>
      </div>
    </div>

    <!-- Form versturen -->
    <input type="submit" value="Login">
  </form>

  <!-- Link naar REGISTERPAGINA -->
  <div class="register-link">
    Don't have an account? <a href="{{ url_for('main.register') }}">Register here</a>
  </div>
</div>

{% endblock %}