{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block body_class %}profile-body{% endblock %}

{% block content %}

<h2 class="text-center mt-5 mb-4">Your Profile</h2> 

<div class="profile-wrapper">
    
    <div class="card shadow-lg p-4 profile-card">

      <p><strong>Name:</strong><br>{{ name }}</p>
      <p><strong>E-mail:</strong><br>{{ email }}</p>
      <p><strong>Role:</strong><br>{{ role }}</p>
      <p><strong>Company:</strong><br>{{ company }}</p>

      <div class="d-flex justify-content-center gap-3 mt-auto">
          
          <a href="{{ url_for('main.edit_profile') }}" class="btn btn-edit table-btn btn-sm">
              Edit
          </a>
          
          <form action="{{ url_for('main.delete_profile') }}" method="post" style="display:inline;">
              <button type="submit" 
                  onclick="return confirm('Weet je zeker dat je je profiel wilt verwijderen? Dit kan niet ongedaan gemaakt worden.');"
                  class="btn btn-danger-custom table-btn btn-sm">
                  Delete
              </button>
          </form>

      </div>
      
    </div>
</div>

{% endblock %}